version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: url-shortener-app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db:5432/quarkus_test

  db:
    image: postgres:16
    container_name: url-shortener-db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=adminadmin
      - POSTGRES_DB=quarkus_test
    ports:
      - "5433:5432"
    volumes:
      - ./db-data:/var/lib/postgresql/data
